Fonts:
    SF Pro Display
    Liga SFMono Nerd Font
    Apple Emoji
    Font Awesome 6 Pro
    feather.ttf
    Iosevka Nerd Font

    
Polybar:
    polybar
    playerctl
    python-dbus

Polybar Hide Script dependencies:
    bash
    xdotool
    xwininfo
    xev

cava


