Fonts:
    SF Pro Display
    Liga SFMono Nerd Font
    Apple Emoji - yay -S ttf-apple-emoji
    Font Awesome 6 Pro
    feather.ttf
    Iosevka Nerd Font

    
Polybar:
    polybar
    playerctl
    dbus-python

cava

 python3 -m pip install --user --upgrade pynvim
